.card-container{
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
}

.icon{
    text-align: center;
    font-size: 2rem;
}

.bottom{
    text-align: right;
}