.App{
    padding: 2rem;
}

.draw-card{
    background-color: #c3c0c0;
    height: 250px;
    width: 200px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
}

.draw-card:hover{
    cursor: pointer;
}

.card-grid{
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: minmax(5, 1fr); */
}